.buttunContainer i{
  font-size: 1.5rem; 
  color: cornflowerblue;
}

.buttunContainer i:hover {
  /* 滑鼠移過時啟用這組設定 */
  color: #ff6600;
}

.card-name:hover{
  overflow: visible;
  text-overflow: clip;
}

.member-number{
  font-size:2px;
}
.modal-header{
  background:linear-gradient(rgba(122, 122, 223, 0.658), lightblue);
}

.modal-body{
  background:linear-gradient( lightblue ,lightgreen);
}
.modal-footer{
  background:linear-gradient( lightgreen ,rgb(197, 238, 144));
}
.created .updated{
  font-size:2px;
}
.photo{
  border-radius:50% ;
}